body
{
   background-color: rgb(236, 236, 236);

}

#banner {
width: 100%;

}

.principal {
padding: 30px;
}

p {
   text-align: center;

}

#missao {
font-size: 20px;
}

em strong {
   color: rgb(187, 154, 149);

}

.itens {

font-style: italic;
}

.beneficios {
background-color: darksalmon;
padding: 20px;

}

h2 {
   text-align: center;
}

ul {
   display: inline-block;
   vertical-align: top;
   width: 20%;
   margin-right: 15%;
}


.imagembeneficios {
width: 50%;
}